# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/
.env/

# macOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# IDE/editor configs
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables files
.env

# Ignore large data files, if any (optional)
*.zip
*.tar.gz

